<!DOCTYPE html>
<html>

<head>
    <title>Velocímetro RPM</title>
</head>

<body>
    <h2>RPM Atual</h2>
    <div id="rpmDisplay" style="font-size: 72px; font-weight: bold; color: green;">--</div>

    <script>
        async function atualizarRPM() {
            const resp = await fetch('/api/dados/ultimo/', { cache: 'no-store' });
            const dado = await resp.json();

            if (dado && dado.RPM !== undefined) {
                document.getElementById('rpmDisplay').textContent = Math.round(dado.RPM);
            }
        }
        setInterval(atualizarRPM, 50);
        atualizarRPM();

    </script>
</body>

</html>